*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-Regular.ttf);
}
@media(max-width:767px){
    .children{
        flex-direction: column;
    }
}
body{
    font-family: 'Roboto', sans-serif;  
}

.container p{
    color: blanchedalmond;
    padding: 20px;
}
.container{
background-color: #1f1f1ff2;
padding: 40px;
text-align: center;
}
.container p{
    margin-bottom: 25px;
}
.container .main-title{
    font-size: 30px;
    color: burlywood;
    margin-bottom: 25px;
    
}
.container .sub-title{
    font-size: 24px;
}
.container .children{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;

}
.container .children .child {
    width: 23%;
    background-color: darkcyan;
    padding-bottom: 20px;
    text-align: left;
    margin-bottom: 20px;

    /* padding-left: 25px; */
}
.container .children .child .detl{
    padding: 25px  ;
    text-align: left;
}
.image{
    height: 180px;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #31c12c;
  }